/* montserrat-latin-wght-normal */
@font-face {
    font-family: 'Montserrat Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

:root {
    --primary-color: #2C313A; 
    --primary-color-accent: #23272E;

    --primary-color-shade-20: #BEC0C6; /* unused */
    --primary-color-shade-40: #9A9DA3;
    --primary-color-shade-60: #747880; /* unused */
    --primary-color-shade-80: #50555D;

    --secondary-color: #E2E4E9;
    --secondary-color-accent: #466060; /* unused */

    --error-text-color: rgb(235, 71, 71);
    --error-border-color: rgb(242, 13, 13);
    --error-background-color: rgb(235, 71, 71, 0.1);

    --red-color: #EB4747;
    --red-color-accent: #F20D0D;

    --blue-color: #47A9EB;
    --blue-color-accent: #0D96F2;

    --purple-color: #9C5EED;
    --purple-color-accent: #700DF2; /* unused */

    --green-color: #47EB80; /* unused */
    --green-color-accent: #0DF25D; /* unused */
}